﻿@model IEnumerable<CovidCsvModel>
@{
    ViewData["Title"] = "Europes";
}

<div class="container fluid">
    <div class="row">
        <div class="offset-1 col-10 text-center">
            <br />
            <h2> <i class="fas fa-tint mb-3 mr-3"></i>Europe</h2>
            <hr />
            <br />
        </div>
        <div class="offset-1 col-10 algin-left">
            <h5>
                Chart with cumulutive  cases and deaths for Europe. <br />
                After hovering over the bar, it shows specific numbers.
            </h5>

            <canvas id="EuropeChart"></canvas>

        </div>
    </div>
</div>


@{ChartJSCore.Models.Chart EuropeChart = (ChartJSCore.Models.Chart)ViewData["EuropeChart"]; }
@section Scripts {
    <script>
        @Html.Raw(EuropeChart.CreateChartCode("EuropeChart"));
    </script>
}