﻿@model IEnumerable<Visualisation.Models.CovidCsvModel>

@{
	ViewData["Title"] = "World";
}

<div class="container">
    <div class="container mt-4" id="section-interests">
        <div class="row">
            <div class="col ml-3 mr-3">
                <h1 style="text-align:center">World</h1>
                <hr />
            </div>
        </div>
       
        <div class="row">
            <div>
                <h5>Map with cumulutive cases in the world. </h5>
                <h5>Total number of infections in the world is about <b>@ViewData["WorldCases"]</b></h5>
            </div>
            <div id="world-map" style="width: 100%; height: 550px"></div>
        </div>
        <br />
        <h5> Table for all countries with cases and deaths </h5>
        <br />
        <div class="row">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>
                            Country code
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Cases
                        </th>
                        <th>
                            Deaths
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country_code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cumulative_cases)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cumulative_deaths)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/mapData.js"></script>
@section Scripts {
	<script>
		$(function () {
			$('#world-map').vectorMap({
				map: 'world_mill',
				series: {
					regions: [{
						values: covidData,
						scale: ['#FFFFFF', '#DC143C'],
						normalizeFunction: 'polynomial'
					}]
				}
			});
		});
	</script>
}