﻿@model IEnumerable<CovidCsvModel>
@{
	ViewData["Title"] = "Poland";
}

<div class="container fluid">
	<div class="row">
		<div class="offset-1 col-10 text-center">
			<br />
			<h2> <i class="fas fa-tint mb-3 mr-3"></i>Poland</h2>
			<hr />
			<br />
		</div>
        <div class="offset-1 col-10 algin-left">
            <h5>
                Chart with cumulutive cases and deaths for Poland. <br />
                After hovering over the line, it shows specific numbers.
            </h5>

            <canvas id="PolishCases"></canvas>

        </div>
	</div>
</div>


@{ChartJSCore.Models.Chart PolishCases = (ChartJSCore.Models.Chart)ViewData["PolishCases"]; }
@section Scripts {
	<script>
        @Html.Raw(PolishCases.CreateChartCode("PolishCases"));
	</script>
}